<center>
<div class="page-header">
  <h1>Scoreboard <small><%=current_user.email%></small></h1>
</div>

    <div class="panel panel-default">
      <div class="panel-heading"><b>Average Summary</b></div>
      <div class="panel-body">
        <% if @user.games.any? %>
        <div class="row">
          <div class="col-sm-3 text-left">
            <% @average = @user.average_results(@user.games) %>
            <b>Accuracy:</b> <%= @average[:accuracy] %> %
          </div>

          <div class="col-sm-3 text-left">
            <b>WPM:</b> <%= @average[:wpm] %>
          </div>

          <div class="col-sm-3 text-left">
            <b>Time:</b> <%= @average[:time] %> s
          </div>

          <div class="col-sm-3 text-left">
            <b>Score:</b> <%= @average[:score] %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="head-field">Accuracy (%)</th>
          <th class="head-field">WPM</th>
          <th class="head-field">Time (s)</th>
          <th class="head-field">Score</th>
        </tr>
      </thead>
      <tbody>
          <% @user.games.each do |game| %>
            <tr>
              <td class="show-field"><%=game.accuracy%></td>
              <td class="show-field"><%=game.wpm%></td>
              <td class="show-field"><%=game.duration%></td>
              <td class="show-field"><%=game.score %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
</div>
</center>
